@inject SignInManager<IdentityUser> signInManager;
@model QuizDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Quiz.QuizName Quiz</h1>

<div>
    <table class="table">

        @foreach (var question in Model.Questions)
        {
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("User")))
            {
                <tr>
                    <td>
                        <h4>Question</h4>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("User")))
                    {
                        <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.Id">@Html.DisplayFor(modelItem => question.QuestionName)</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => question.QuestionName)
                    }
                </td>
            </tr>
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("User")))
            {
                <tr>
                    <td>
                        <h5>Answers</h5>
                    </td>
                </tr>

                @foreach (var answer in question.AllAnswers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => answer.AnswerName)
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-primary" asp-controller="Questions" asp-action="Create">Add Question</a>
    </div>
}

<br />
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Quiz.Id">Edit</a> |
        <a asp-action="Index">Back to Quiz List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to Quiz List</a>
    </div>
}
