@*@model QuizManager.DataAccess.Models.Question*@
@model QuestionDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QuestionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer.AnswerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer.AnswerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Question.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
